[Unit]
Description=Statuser Battery Reporter Timer (every 5 minutes)

[Timer]
OnBootSec=30
OnUnitActiveSec=5min
AccuracySec=30

[Install]
WantedBy=timers.target
